service cloud.firestore {
  match /databases/{database}/documents {
    match /producto/{producto} {
      allow read: if request.auth.uid != null
    }
  }
}